.posts {
    color: darkblue;
    margin-top: 10px;
}

.myPosts {
    padding: 10px;
}
.textarea {
    border-radius: 10px;

}
.buttonAdd {
    border-radius: 5px;
    background: #0078c9; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    opacity: 0.7; /* Полупрозрачный фон */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
    color: #fff; /* Цвет текста */
}


