.posts {
  color: darkblue;
  margin-top: 10px;
}

.myPosts {
  padding: 10px;
  text-align: center;
}

.textarea {
  border-radius: 10px;
  border: 3px dashed grey;
  background-color: aliceblue;
  &:hover {
    border-color:red;
  }

}



.buttonAdd {
  margin-top: 10px;
  border-radius: 5px;
  //background: #0078c9; /* Цвет фона */
  padding: 5px; /* Поля вокруг текста */
  opacity: 0.7; /* Полупрозрачный фон */
  filter: alpha(Opacity=70); /* Прозрачность в IE */
  //color: #fff; /* Цвет текста */
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
  text-align: center;
  font-size: 25px;
  background: linear-gradient(to right, #b9b9b9 20%, black 40%, black 60%, #b9b9b9 80%);
  background-size: 200% auto;

  //color: #000;
  //background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3s linear infinite;
  &:hover {
    border-color:red;
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}



.buttonAdd:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}


.hit_the_floor {
  text-align: center;
  margin-top: 10px;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  /*font-family: Helvetica;*/
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0, 0, 0, .1),
  0 0 5px rgba(0, 0, 0, .1),
  0 1px 3px rgba(0, 0, 0, .3),
  0 3px 5px rgba(0, 0, 0, .2),
  0 5px 10px rgba(0, 0, 0, .25),
  0 10px 10px rgba(0, 0, 0, .2),
  0 20px 20px rgba(0, 0, 0, .15);
}













