.wrapper {
  position: relative;
  //width: 100%;
  margin: 0 auto;
  /*max-width: 500px;*/

  video {
    width: 100%;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33%;

    text {
      font-family: 'Montserrat', sans-serif;
      font-weight: 1000;
      text-transform: uppercase;
      font-size: 40px;
    }

    > rect {
      -webkit-mask: url(#mask);
      mask: url(#mask);
    }

    rect {
      fill: #fff;
    }
  }
}


