.app_wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
   'h h'
   'n c';

  grid-template-rows: 60px 1fr;
  grid-auto-columns: 2fr 10fr;
  grid-gap: 5px;
}

.app_wrapper_content {
  grid-area: c;
  background-color: cyan;
}


/*.app_content img {
    height: auto;
    margin: auto;
    border-radius: 100px;
}*/


