.app_wrapper {
  margin: 0 auto;
  display: grid;
  width: auto;
  grid-template-areas:
   'h b'
   'n c';

  grid-template-rows: 80px 1fr;
  grid-auto-columns: 2fr 10fr;
  grid-gap: 5px;

}

.app_wrapper_content {
  grid-area: c;
  background-color: cyan;
}





